<div class="parent-container">
  <button class="form-control parent-input create-btn"  routerLink="/user">Create User</button>
  <div class="users">
 <div class="user-container" *ngFor="let user of users">
   <div >
       <div  [routerLink]='"/userInfo/"+user.id'>
         {{user.first_name}} {{user.last_name}} 
       </div>
       <div >
         <button class="form-control parent-input"  routerLink="/user" [queryParams]="{id: user.id, name: user.first_name }">
           Update
         </button>
         <button class="form-control parent-input"  (click)="openDeleteModal(user,content)">
           delete
         </button>
       </div>
   </div>
 </div>
 </div>

<button class="form-control parent-input" *ngIf="showLoadMore" (click)="loadUsers()">
  load more
</button>

<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Delete User</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
           Are you sure you want to delete this user {{activeUser.first_name}}
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('yes')">Yes</button>
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('no')">No</button>
    </div>
  </ng-template>
</div>